<div class="input-group">
        <input type="text" [(ngModel)]="code" class="form-control" placeholder="Stock Code">
        <span class="input-group-append">
          <button class="btn btn-danger input-group-text" (click)="showDelta(code)">
            Show
          </button>
        </span>
        <button class="btn btn-danger input-group-text input-group-append" (click)="prev()">
          <i class="nb-skip-backward prev"></i>
        </button>
        <button class="btn btn-danger input-group-text input-group-append" (click)="next()">
          <i class="nb-skip-forward next" ></i>
        </button>
</div>
<div echarts [options]="options" class="echart" ></div>