
<div class="form-group row">
  <label class="col-lg-3 col-form-label" style="text-align: right;">查询:
  </label>
  <div class="col-lg-9">
      <div class="row full-name-inputs">
          <div class="input-group mail-btn-group" ngbDropdown #myDrop="ngbDropdown">
                
              <input type="text" name="search" [(ngModel)]="code" class="btn-outline-primary form-control" id="dropdownManual" ngbDropdownAnchor
                  placeholder="Stock Code" (ngModelChange)="searchCodes($event,myDrop,code)"  for="inputSearch" style="width:100%;"/>
              <div ngbDropdownMenu aria-labelledby="inputSearch">
                  <button *ngFor="let item of stocks.slice(0,5);" type="button" class="dropdown-item" (click)="selectCode(item)">{{item.code}} {{item.name}}</button>
                  <div *ngIf="!stocks.length" style="min-height: 40px;padding-left: 10px;">没有数据</div>
              </div>
          
              <!-- <span class="input-group-append">
                  <button type="button" class="btn btn-primary btn-icon input-group-text" (click)="searchCodes($event,myDrop,code)">
                      <i class="icon nb-search"></i>
                  </button>
              </span> -->
            
          </div>
      </div>
  </div>
</div>

<ngx-index-delta [stock]="stock"></ngx-index-delta>

<div class="input-group" style="justify-content:center" *ngIf="allStocks.length>0">
    <button class="btn btn-primary input-group-text input-group-append" (click)="first()">
        <i class="nb-skip-backward "></i>
    </button>
    <button class="btn btn-primary input-group-text input-group-append" (click)="prev()">
        <i class="nb-arrow-dropleft "></i>
    </button>
    
    <button class="btn btn-primary input-group-text input-group-append" (click)="next()">
            <i class="nb-arrow-dropright " ></i>
    </button>
    <button class="btn btn-primary input-group-text input-group-append" (click)="last()">
            <i class="nb-skip-forward " ></i>
    </button>
</div>

<!-- <ngx-stock-popular [stock]="stock"></ngx-stock-popular> -->